# Ativar o mecanismo de reescrita
RewriteEngine On

# Redirecionar todas as requisições para index.php se o arquivo ou diretório não existir
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ 404.php [L,QSA]
