.media {
    .media-body {
        color: var(--color-700);
        font-size: 14px;
        .media-heading {
            font-size: 16px;
            color: var(--color-900);            
        }
    }
}
