<IfModule mod_rewrite.c>
    RewriteEngine On

    # Definir variáveis de ambiente para localhost, servidor online e novo host
    SetEnvIf Host ^localhost LOCAL_ENV
    SetEnvIf Host ^www\.rapidticket\.com\.br ONLINE_ENV
    SetEnvIf Host ^host\.bilhetagem BILHETAGEM_ENV

    # Permitir apenas requisições AJAX/POST
    RewriteCond %{HTTP:X-Requested-With} !^XMLHttpRequest$ [NC,OR]
    RewriteCond %{REQUEST_METHOD} !POST [NC]
    RewriteRule ^ - [F,L]

    # Bloquear acesso direto pela barra de endereço para ambiente local
    RewriteCond %{ENV:LOCAL_ENV} ^1$
    RewriteCond %{HTTP_REFERER} !^http://localhost/ [NC]
    RewriteRule ^ - [F,L]

    # Bloquear acesso direto pela barra de endereço para ambiente online
    RewriteCond %{ENV:ONLINE_ENV} ^1$
    RewriteCond %{HTTP_REFERER} !^https?://(www\.)?rapidticket\.com\.br/ [NC]
    RewriteRule ^ - [F,L]

    # Bloquear acesso direto pela barra de endereço para novo host
    RewriteCond %{ENV:BILHETAGEM_ENV} ^1$
    RewriteCond %{HTTP_REFERER} !^http://host\.bilhetagem/ [NC]
    RewriteRule ^ - [F,L]
</IfModule>

<FilesMatch "\.php$">
    Order Deny,Allow
    Deny from all
    Allow from env=ALLOW_PHP
</FilesMatch>

SetEnvIf X-Requested-With "XMLHttpRequest" ALLOW_PHP

# Página de erro personalizada para 403 Forbidden
ErrorDocument 403 /403.php
